div(class="col-xs-10 main-menu col-sm-push-1")
    div(class="navbar navbar-default")
        div.navbar-header
            a.navbar-brand.pull-left
                h6.clear-top Don't Get Angry
        form(class="navbar-form navbar-right", role="search")
            div.col-xs-12
                div(class="form-group")
                    a Hello, {{ user.username }}&nbsp;&nbsp;&nbsp;
                button(type="submit" class="btn btn-primary" ng-click="logOut();") Logout

div(class="col-xs-10 main-menu col-sm-push-1")
    div(class="panel panel-default")
        div(class="panel-heading")
            h5 Game board
                a(href="#" ng-click="createNewGame();").btn.btn-success.pull-right Create new game!
        div.panel-body
            div.col-xs-12
                div.row(ng-repeat="game in gameObj.games")
                    div.form-group(ng-if="game.gameName != user.username")
                        span {{ game.gameName }}
                        a(href="#", ng-click="joinExistingGame(this);" ng-attr-gameid="{{ game.gameId }}").pull-right.btn.btn-success Join

div(class="modal", id="gamePlayersModal")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                h4(class="modal-title") {{ currentGameObj.gameOwner }}
            div(class="modal-body")
                div(class="row")
                    div(class="col-xs-12")
                        span(class="pull-left") {{ currentGameObj.gameOwner }}
                        button(class="btn btn-success pull-right", type="button") I'm ready...

            div(class="modal-footer")
                button(type="button", class="btn btn-default", data-dismiss="modal") Close

button(ng-click="clearBoard();", type="button", class="btn btn-primary") Remove all Games