div.box-panel
    div.col-md-4.col-sm-6.col-xs-12.col-md-push-4.col-sm-push-2.text-center
        h4 Sign in
        div.panel.panel-defaul
            div.panel-body
                form
                    input(type="text" placeholder="Username").form-control
                    br
                    input(type="password" placeholder="Password").form-control
                    br
                    a(href="/forgot-password").pull-left Forgot password
                    button(type="submit").btn.btn-primary.pull-right Sign in
        h5
            a(href="/sign-up") Sign up!


