div.box-panel
    div.col-md-4.col-sm-6.col-xs-12.col-md-push-4.col-sm-push-2.text-center
        h4 Sign up
        div.panel.panel-defaul
            div.panel-body
                form(name="signUpForm")
                    input(type="text" placeholder="Username" name="username" ng-model="username").form-control
                    br
                    input(type="email" placeholder="example@example.com" name="email" ng-model="email").form-control
                    br
                    input(type="password" placeholder="Password" name="password" ng-model="password").form-control
                    br
                    input(type="password" placeholder="Re-Password" name="re-password" ng-model="rePassword").form-control
                    br
                    button(type="submit" name="signup" ng-model="signup" ng-click="addNewUser();").btn.btn-primary.pull-right Sign up
        h6
            a(href="/") &lt; Go back to login page!