html {
  height: 100%; }

body {
  height: 100%;
  background: #84c1e8;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM4NGMxZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDI3ZmU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover, #84c1e8 0%, #027fe5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #84c1e8), color-stop(100%, #027fe5));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #84c1e8 0%, #027fe5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #84c1e8 0%, #027fe5 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #84c1e8 0%, #027fe5 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #84c1e8 0%, #027fe5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84c1e8', endColorstr='#027fe5',GradientType=1 );
  /* IE6-8 fallback on horizontal gradient */
  font-family: "Patua One", cursive; }

.container {
  width: 900px !important; }

p {
  background-color: #ccc; }

h1 {
  color: #ffc80d;
  font-family: "Patua One", cursive;
  font-size: 6em; }

h2 {
  color: #ffc80d;
  font-family: "Patua One", cursive;
  font-size: 5em; }

h3 {
  color: #ffc80d;
  font-family: "Patua One", cursive;
  font-size: 4em; }

h4 {
  color: #ffc80d;
  font-family: "Patua One", cursive;
  font-size: 3em; }

h5 {
  color: #ffc80d;
  font-family: "Patua One", cursive;
  font-size: 2em; }

h6 {
  color: #ffc80d;
  font-family: "Patua One", cursive;
  font-size: 1em; }

/* ============= mixin ============== */
/* ============= login page ============== */
.box-panel {
  margin: 25% 0 0 0; }
  .box-panel h4 {
    -webkit-text-shadow: -2px -3px 3px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: -2px -3px 3px rgba(0, 0, 0, 0.2);
    text-shadow: -2px -3px 3px rgba(0, 0, 0, 0.2); }
  .box-panel .panel {
    -webkit-box-shadow: 0px 2px 12px rgba(0, 80, 145, 0.2);
    -moz-box-shadow: 0px 2px 12px rgba(0, 80, 145, 0.2);
    box-shadow: 0px 2px 12px rgba(0, 80, 145, 0.2); }
  .box-panel h6 a, .box-panel h5 a {
    color: #ffc80d;
    -webkit-text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.35);
    -moz-text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.35);
    text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.35); }

.clear-top {
  margin-top: 0; }

.clear-bottom {
  margin-bottom: 0; }

/* ============ main menu =========== */
.main-menu {
  margin-top: 10px !important; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.row-space {
  margin: 5px 0; }

.game-table {
  width: 640px;
  float: left;
  margin: 20px 0 0 0;
  position: relative;
  text-align: center; }

.game-table .dice .die {
  background-image: url("../img/dice-white.png"); }

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx) {
  .game-table .dice .die {
    background-image: url("../img/dice-white@2x.png");
    background-size: 916px 50px; } }
.game-table .dice {
  position: absolute;
  z-index: 1000;
  left: 210px;
  top: 215px; }

.game-table .die {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  flaot: right; }

.game-table .die.die2 {
  background-position: -50px 0; }

.game-table .die.die3 {
  background-position: -100px 0; }

.game-table .die.die4 {
  background-position: -150px 0; }

.game-table .die.die5 {
  background-position: -202px 0; }

.game-table .die.die6 {
  background-position: -255px 0; }

.game-table .die.die7 {
  background-position: -305px 0; }

.game-table .die.die8 {
  background-position: -356px 0; }

.game-table .die.die9 {
  background-position: -408px 0; }

.game-table .die.die10 {
  background-position: -458px 0; }

.game-table .die.die11 {
  background-position: -509px 0; }

.game-table .die.die12 {
  background-position: -560px 0; }

.game-table .die.die13 {
  background-position: -612px 0; }

.game-table .die.die14 {
  background-position: -662px 0; }

.game-table .die.die15 {
  background-position: -714px 0; }

.game-table .die.die16 {
  background-position: -764px 0; }

.game-table .die.die17 {
  background-position: -815px 0; }

.game-table .die.die18 {
  background-position: -866px 0; }

.game-table .die.disabled {
  opacity: 0.3; }

.left-side {
  width: 200px;
  float: left; }

.chat-box {
  width: 100%;
  height: 250px;
  float: left;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 20px 0 0 0; }

.chat-history {
  width: 100%;
  height: 175px;
  float: left;
  margin: 15px 0 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow-y: auto;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  font-family: Helvetica;
  font-size: 0.85em; }

.chat-history > span {
  width: 100%;
  float: left;
  margin: 0 0 5px 0; }

.chat-history > span strong {
  width: 100%;
  float: left;
  margin: 0 0 2px; }

.chat-commands {
  width: 100%;
  float: left; }

.players-map {
  width: 100%;
  float: left;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 20px 0 0 0;
  padding: 10px; }

.players-map .yellow > span,
.chat-history .yellow {
  color: #fffc00; }

.players-map .blue > span,
.chat-history .blue {
  color: #00b4ff; }

.players-map .green > span,
.chat-history .green {
  color: #00b50d; }

.players-map .red > span,
.chat-history .red {
  color: #ff3232; }

.players-map span {
  width: 100%;
  float: left;
  margin: 3px 0;
  padding-left: 15px;
  position: relative; }

.players-map span:before {
  content: "\2022";
  float: left;
  position: absolute;
  left: 4px; }

.players-map span.current:after {
  content: " < ";
  margin-left: 10px; }

.players-map span.me {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 2px 2px 15px; }

.figure-map {
  width: 435px;
  position: relative;
  float: left;
  margin: 0 auto; }

.figure-map div[class^="f"] {
  width: 30px;
  height: 30px;
  float: left;
  background: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute; }

.figure-map .f1 {
  left: 262px;
  top: 20px; }

.figure-map .f2 {
  left: 262px;
  top: 60px; }

.figure-map .f3 {
  left: 262px;
  top: 100px; }

.figure-map .f4 {
  left: 262px;
  top: 140px; }

.figure-map .f5 {
  left: 262px;
  top: 180px; }

.figure-map .f6 {
  left: 302px;
  top: 180px; }

.figure-map .f7 {
  left: 342px;
  top: 180px; }

.figure-map .f8 {
  left: 382px;
  top: 180px; }

.figure-map .f9 {
  left: 422px;
  top: 180px; }

.figure-map .f10 {
  left: 422px;
  top: 220px; }

.figure-map .f11 {
  left: 422px;
  top: 260px; }

.figure-map .f12 {
  left: 382px;
  top: 260px; }

.figure-map .f13 {
  left: 342px;
  top: 260px; }

.figure-map .f14 {
  left: 302px;
  top: 260px; }

.figure-map .f15 {
  left: 262px;
  top: 260px; }

.figure-map .f16 {
  left: 262px;
  top: 300px; }

.figure-map .f17 {
  left: 262px;
  top: 340px; }

.figure-map .f18 {
  left: 262px;
  top: 380px; }

.figure-map .f19 {
  left: 262px;
  top: 420px; }

.figure-map .f20 {
  left: 222px;
  top: 420px; }

.figure-map .f20 {
  left: 222px;
  top: 420px; }

.figure-map .f21 {
  left: 182px;
  top: 420px; }

.figure-map .f22 {
  left: 182px;
  top: 380px; }

.figure-map .f23 {
  left: 182px;
  top: 340px; }

.figure-map .f24 {
  left: 182px;
  top: 300px; }

.figure-map .f25 {
  left: 182px;
  top: 260px; }

.figure-map .f26 {
  left: 142px;
  top: 260px; }

.figure-map .f27 {
  left: 102px;
  top: 260px; }

.figure-map .f28 {
  left: 62px;
  top: 260px; }

.figure-map .f29 {
  left: 22px;
  top: 260px; }

.figure-map .f30 {
  left: 22px;
  top: 220px; }

.figure-map .f31 {
  left: 22px;
  top: 180px; }

.figure-map .f32 {
  left: 62px;
  top: 180px; }

.figure-map .f33 {
  left: 102px;
  top: 180px; }

.figure-map .f34 {
  left: 142px;
  top: 180px; }

.figure-map .f35 {
  left: 182px;
  top: 180px; }

.figure-map .f36 {
  left: 182px;
  top: 140px; }

.figure-map .f37 {
  left: 182px;
  top: 100px; }

.figure-map .f38 {
  left: 182px;
  top: 60px; }

.figure-map .f39 {
  left: 182px;
  top: 20px; }

.figure-map .f40 {
  left: 222px;
  top: 20px; }

div[class^="house"] {
  width: 71px;
  height: 71px;
  position: absolute; }

div[class^="house"] div {
  position: relative;
  height: 71px; }

div[class^="house"] div div[class^="hf"] {
  width: 30px;
  height: 30px;
  float: left;
  background: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: absolute; }

div[class^="house"] div div.hf1 {
  top: 0;
  left: 0; }

div[class^="house"] div div.hf2 {
  top: 0;
  right: 0; }

div[class^="house"] div div.hf3 {
  bottom: 0;
  right: 0; }

div[class^="house"] div div.hf4 {
  left: 0;
  bottom: 0; }

.house1 {
  top: 20px;
  right: -17px; }

.house2 {
  top: 364px;
  right: -17px; }

.house3 {
  top: 364px;
  left: 20px; }

.house4 {
  top: 20px;
  left: 20px; }

.figure {
  width: 28px;
  height: 40px;
  float: left;
  position: absolute;
  z-index: 100;
  cursor: pointer; }

.figure:hover {
  opacity: 0.7; }

.figure.yellow {
  background: url("../img/figures.png") no-repeat -58px 0; }

.figure.red {
  background: url("../img/figures.png") no-repeat 0 0; }

.figure.blue {
  background: url("../img/figures.png") no-repeat -28px 0; }

.figure.green {
  background: url("../img/figures.png") no-repeat -87px 0; }

.figure.yellow.f1 {
  left: 484px;
  top: 19px; }

.figure.yellow.f2 {
  left: 525px;
  top: 19px; }

.figure.yellow.f3 {
  left: 484px;
  top: 59px; }

.figure.yellow.f4 {
  left: 525px;
  top: 59px; }

/*# sourceMappingURL=custom.css.map */
