doctype
html
    head
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/custom.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Patua+One" type="text/css")
    body(ng-app='app')
        div.container
            block main-content
        include scripts
